.navbar {
  display: flex;
  justify-content: space-between;
  background: #0d6efd;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 22px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}